/* ensure selection made on parent */
:root {
    --primary-color:#012428;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    background-color: lightblue;
}


/*media*/

@media screen and (min-width: 500px) {
    .h1 {
         flex: 0 0 50%;
         max-width: 50%;
     }
     .h1:last-child{
         flex-grow: 1;
     }


/* Styles for Header & Nav */
h1 {
    font-size: 42px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color:#0bc9de ;
}

nav h1 {
    font-size: 32px;
    color:darkgreen;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 5px 10px;

}

nav ul li a {
    color:whitesmoke;
    font:bold;
}


h2 {
    font-size: 24px;
    color:darkgreen;
}

section {
    padding :10px;
}

/* Contact Info Styles */
.vl-border3 {
    border-right: 5px solid #67d4e0;
    height: 100px;
    flex: 2 18.5%;

}

.contact-info {
    flex: 150;
}
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    margin-left: 15px;
    width: 100%;  
    }

.contact-info ul li a {
    margin: 0 30px;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 2px;
    }

.resume{
    margin: 20px 20px;
    color: #024e76;
}
/* Style Intro Pic */
.image0 {
    margin: 0;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 40px;
}

/* Style PIc of Me */

.image1 {
    position: absolute;
    top: 150px;
    right: 90px;
    border: 3px var(--primary-color);
    height:150px;
    width: 150px; 
    border-width: 5px; 
    border-style: dashed;
}
/* About Me,Work Section */
.about {
    align-items: center;
 display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 50px;
    width: 90%;
}
.flex-row{ display:flex;
justify-content: left;
flex-direction: row;}

.vl-border1 {
    border-right: 3px solid var(--primary-color);
    height: 200px;
    flex: 20%;
    }
.step-text {
    flex: 10px
}
.step-text p{ font-size: 25px; 
    color: var(--primary-color);
    line-height: 1.5; margin-left: 45px;
    width: 100%;
}

.vl-border2 {
    height: 1200 px; flex: 0 0 190px
}

#container { color: whitesmoke; text-align: center; position: relative;

} 
